@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

$background-app: rgb(207, 204, 204);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#root {
  width: 100vw;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 20px;

  font-family: 'Montserrat', sans-serif;
}

.App {
  max-width: 800px;
  width: 100vw;
  height: auto;

  display: flex;
  flex-direction: column;
  justify-content: center;

  padding: 20px;
  background-color: $background-app;
  h1{
    text-align: center;
    justify-content: start;
  }
}

.list {
  min-height: 200px;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  .error-page{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    svg {
      margin: 0 auto;
    }
  }
}

.tags {
  display: flex;
  list-style-type: none;
  justify-content: center;
  flex-wrap: wrap;
  li{
    margin: 0 5px;
    &:hover {
      cursor: pointer;
      color: blue;
    }
  }
  .active-tag {
    color: blue;
  }
}

.pagination {
  margin: 0 auto;
  a {
    background-color: $background-app;
  }
  .page-link {
    color:black;
  }
  .page-link.active {
    background-color: darken($background-app, 40%);
  }
}